fastapi
uvicorn[standard]
python-multipart
pypdf2
langchain
sentence-transformers
groq
neo4j
python-dotenv
tiktoken
langchain-core
langchain-community
langchain-text-splitters
pdf2image
opencv-python
numpy
pytesseract
pytest
pdfminer.six